* {
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

img {
    width: 300px;
    height: auto;
}

ul, ol {
    font-size: small;
}

h2 {
    color: darkblue;
}

.description {
    font-weight: lighter;
    font-style: italic;
}

.centered {
    text-align: center;
}

.no-bullets {
    list-style: none;
    padding: 0;
}

.large-list {
    font-size: larger;
}

.main-list-item {
    width: 100px;
    padding: 8px;
    margin: 5px;
    border: #393f4d 2px solid;
    display: inline-block;
    background-color: #bccbde;
    color: #333333;
}